#header .logo{
    left: 25px;
    position: absolute;
    top: 0;
    z-index: 1000;
  }
  
  #header>.logo>a{
    background: url(images/tlogo.png) no-repeat center top;
  }
  
  body {
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  select {
    background-color: #000000;
    border: 0;
    margin-right: 50px;
    padding-left: 12px;
    padding-right: 10px;
    margin-left: -10px;
    height: 27px;
  }
  #select_lang{
    float: right;
    margin-top: 50px;
    margin-right: 230px;
  }
  
  #select_lang>select::before{
    position: absolute;
    z-index: 1000;
    src: url(https://www.greenwhaleglobal.com/asset/images/common/icon_nshopping.png);
  }
  
  #select_lang>select{
    color: white;
    position: absolute;
    /* margin-left: 1000px; */
  }
  
  
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    z-index: 100;
    padding: 20px;
    top: 40px;
    right: 60px;
    height: 27px;
    user-select: none;
    width: 35px;
    margin: 0;
  }
  
  .burger-icon .burger-sticks {
    background: white;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 35px;
    z-index: 100;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
    top: 10px;
  }
  
  .burger-icon .burger-sticks:after {
    top: -10px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~.menu {
    max-width: 500px;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }
  #scroll-to-top {
    border-radius: 50% 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: rgba(33, 33, 33, 0.8);
    background-position: center center;
    color: #fff;
    cursor: pointer;
  }
  #scroll-to-top img {
    width: 20px; /* Adjust the width to your desired size */
    height: auto; /* Automatically adjust the height based on the width */
  }
  .menu>ul, li{
    list-style-type: none;
    color: white;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;}

  .div_gnb{
    padding-top: 100px;
    width: 80%;
  }
  .menu_footer>p{
    color: white;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  .menu_footer{
    margin-left: 30px;
    color:black;
  }
  
  ul{
    font-size: 25px;
  }
  ul ul {
    font-size: 18px;
  }
  
  #sub_menu{
    display: none;
  }
  
  #gnb{
    margin-right: 180px;
  }

  #gnb>li{
    width: 380px;
  }
  
  #gnb>li>a::after{
    float: right;
    margin-right: 15px;
    content: url(images/icon_gnb_arr.png);
  }
  .main_design, #select_lang{
    background-color: lightgreen;
  }
  .lang{
    position: relative;
    z-index: 100;
  }
  
  footer {
    z-index: 99999;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 3000px;
    margin-bottom: 0;
  }
  .sns img:hover {
    transform: scale(1.2);
  }